@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#the-adventure-of-charles-augustus-milverton blockquote{
	text-align: center;
	font-variant: small-caps;
}

.decoded-message{
	text-align: center;
	text-transform: uppercase;
}

img.character-symbol{
	height: 1.25em;
	vertical-align: middle;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure.dancing-men img{
	width: 80%;
}

figure.dancing-men-short img{
	width: 40%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: left;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}
